* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-areas:
    "header"
    "images"
    "products"
    "contact";
}
