.container-contact {
  grid-area: contact;
  background-color: #fbfbfd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.container-form {
  box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.8);
  background-image: url(../docs/termoformados.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: local;
  border-bottom-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  display: flex;
  justify-content: flex-end;
}

.container-form form {
  padding: 2em;
  border-top-right-radius: 0.7em;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paragraph-form {
  font-family: "Overlock", cursive;
  color: rgba(0, 0, 0, 0.8);
}

.section-form {
  width: 100%;
}

.input-form {
  border: none;
  outline: none;
  background: transparent;
  font-family: Quicksand, sans-serif;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.input-form:focus {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2));
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

.textarea-form {
  background: transparent;
  border: none;
  outline: none;
  font-family: Quicksand, sans-serif;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.textarea-form:focus {
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1));
}

.btn-send {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  font-family: Quicksand, sans-serif;
  color: #f8f1f1;
  border: none;
  outline: none;
  background-color: #0066cc;
  transition-property: padding, letter-spacing, cursor, background;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.btn-send:hover {
  cursor: pointer;
  background: transparent;
  color: rgba(0, 0, 0, 0.8);
  border: 0.09375rem dashed rgba(0, 0, 0, 0.8);
  letter-spacing: 2.5px;
}

.fa-instagram {
  font-size: 2em;
  color: #ec347c;
  margin-right: 0.2em;
  transition-property: font-size, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.fa-instagram:hover {
  font-size: 2.2em;
  color: #7554c8;
  cursor: pointer;
}

.fa-facebook-square {
  font-size: 2em;
  color: #0e8df1;
  margin-left: 0.2em;
  transition-property: font-size, color;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.fa-facebook-square:hover {
  font-size: 2.2em;
  color: #00599c;
  cursor: pointer;
}

.container-data-contact {
  margin: 3em 0;
  padding: 1.5em 2em;
  min-height: 225px;
  background-color: rgba(125, 125, 125, 0.2);
  border-bottom-left-radius: 0.7em;
  border-top-right-radius: 0.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-data-contact h2 {
  margin-bottom: 1em;
  font-family: "Overlock", cursive;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  letter-spacing: 1.2px;
}

.list-contact {
  list-style-position: outside;
  margin: 0;
  padding: 0;
  list-style-type: circle;
}

.list-contact li p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
}

.social-media-item {
  display: flex;
  align-items: center;
}

.social-media-item p {
  display: inline;
  margin-right: 0.5em;
}

.container-footer {
  padding: 2em;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #f8f1f1;
}

.box-recycle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.6em;
  width: 5em;
  height: 5em;
}

.paragraph-matters {
  font-size: 1.5em;
}

.container-footer span {
  line-height: 1.1em;
  font-size: 0.9em;
}

.fa-recycle {
  font-size: 3.5em;
  animation: animationRecycle 0.5s linear infinite alternate;
}

@keyframes animationRecycle {
  from {
    color: #23d400;
    text-shadow: 0px 0px 3px #23d400;
  }

  to {
    font-size: 4em;
    color: #2cff01;
    text-shadow: 0px 0px 6px #2cff01;
  }
}

@media screen and (min-width: 800px) {
  .container-contact {
    padding-top: 5.5em;
  }

  .container-form {
    min-width: 900px;
    min-height: 550px;
  }

  .container-form form {
    width: 500px;
  }
  .paragraph-form {
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: -1px;
  }

  .section-form {
    border-bottom: 1.7px solid rgba(0, 0, 0, 0.7);
  }

  .input-form {
    padding: 1.5em;
    width: 90%;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 2px;
  }

  .textarea-form {
    width: 90%;
    height: 20vh;
    padding: 2em;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 2px;
  }
  .btn-send {
    font-weight: 500;
    font-size: 1em;
    margin-top: 1em;
    padding: 1em 2em;
    border-radius: 0.6em;
    letter-spacing: 1px;
  }

  .btn-send:focus {
    padding: 1em 1.2em;
  }

  .fa-user,
  .fa-envelope,
  .fa-phone-square,
  .fa-comments {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 800px) {
  .container-contact {
    padding-top: 6em;
  }

  .container-form {
    min-width: 500px;
    min-height: 600px;
  }

  .paragraph-form {
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .container-form form {
    width: 100%;
  }

  .section-form {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
  }

  .input-form {
    width: 90%;
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .textarea-form {
    width: 90%;
    height: 15vh;
    padding: 1em;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .btn-send {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 2em;
    padding: 1.2em 2.2em;
    border-radius: 0.3em;
    letter-spacing: 1.2px;
  }
  /* .btn-send:hover {
    padding: 1.3em 2.3em;
    letter-spacing: 1.4px;
  } */

  .fa-user,
  .fa-envelope,
  .fa-phone-square,
  .fa-comments {
    font-size: 2em;
  }
}

@media screen and (max-width: 620px) {
  .container-contact {
    padding-top: 6.5em;
  }

  .container-form {
    min-width: min-content;
    min-height: 570px;
  }

  .section-form {
    border-bottom: 1.3px solid rgba(0, 0, 0, 0.7);
  }

  .input-form {
    width: 85%;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .textarea-form {
    width: 85%;
    height: 15vh;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .btn-send {
    font-weight: 600;
    font-size: 1.2em;
    margin-top: 2em;
    padding: 1.2em 2.2em;
    border-radius: 0.3em;
    letter-spacing: 1.2px;
  }

  .fa-user,
  .fa-envelope,
  .fa-phone-square,
  .fa-comments {
    font-size: 2em;
  }
  .fa-instagram {
    font-size: 2.2em;
    margin-right: 0.5em;
  }

  .fa-instagram:hover {
    font-size: 2em;
  }

  .fa-facebook-square {
    font-size: 2.2em;
    margin-left: 0.5em;
  }

  .fa-facebook-square:hover {
    font-size: 2em;
    color: #00599c;
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
  .container-form {
    min-height: 550px;
  }

  .input-form {
    font-weight: 400;
  }

  .textarea-form {
    height: 12vh;
    font-size: 1em;
    font-weight: 400;
  }
  .btn-send {
    font-weight: 400;
    font-size: 1em;
    margin-top: 1.8em;
    padding: 1em 2.1em;
  }

  .fa-user,
  .fa-envelope,
  .fa-phone-square,
  .fa-comments {
    font-size: 1.6em;
  }
  .paragraph-matters {
    font-size: 1.2em;
  }
}
