.container-images {
  width: 100%;
  grid-area: images;
  background-color: #fbfbfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paragraph-product {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  color: #1d1d1f;
  font-weight: 700;
  font-size: 2.2em;
  letter-spacing: -1px;
}

.parapraph-info {
  margin: 0.5em 0;
  font-family: "Open Sans", sans-serif;
  color: #0066cc;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.container-images img {
  object-fit: scale-down;
  filter: drop-shadow(1px 1px 8px #292828);
  margin: 3em 0;
  width: 800px;
  height: 450px;
}

@media screen and (min-width: 850px) {
  .container-images {
    height: 100vh;
  }
}

@media screen and (max-width: 800px) {
  .container-images {
    justify-content: center;
    padding: 0 0 1em 0;
  }
  .paragraph-product {
    font-size: 3.5em;
    text-align: center;
  }

  .parapraph-info {
    font-size: 2.5em;
    line-height: 1em;
    text-align: center;
  }

  .container-images img {
    width: 100%;
    height: 500px;
  }
}
