.container-images {
  height: 100vh;
  width: 100%;
  padding-top: 5.5em;
  grid-area: images;
  background-color: #fbfbfd;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.paragraph-product {
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 2.2em;
  letter-spacing: 2.5px;
}

.parapraph-info {
  margin: 0.5em 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 25px;
  letter-spacing: -0.5px;
}

.link-product {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #0066cc;
  font-weight: 400;
  line-height: 29px;
  font-size: 1.1em;
  transition-property: text-decoration;
  transition-duration: 0.5s;
}

.link-product:hover {
  text-decoration: underline;
}
.container-images img {
  object-fit: scale-down;
  filter: drop-shadow(1px 1px 8px #292828);
  margin: 3em 0;
  width: 700px;
  height: 350px;
}
